/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

.rakeTasks

# Mac
.DS_Store

# Maven
log/
target/